@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Amsterdam-four';
    src: url(./fonts/amsterdam-four.ttf) format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'MontserratAlternates';
    src: url(./fonts/MontserratAlternates-Regular.ttf) format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'MontserratAlternates';
    src: url(./fonts/MontserratAlternates-SemiBold.ttf) format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'MontserratAlternates';
    src: url(./fonts/MontserratAlternates-Bold.ttf) format('truetype');
    font-weight: 700;
  }

  html {
    font-family: 'Montserrat', system-ui, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #efeeec;
    overflow-x: hidden;
  }

  @screen md {
    html {
      scroll-behavior: smooth;
    }
  }

  .h2-title {
    @apply font-Amsterdam-four text-[90px] sm:text-[100px] md:text-[110px] leading-[2.5] text-brand-color;
  }

  .h3-title {
    @apply mb-20 font-Montserrat-Alternates font-bold text-4xl;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
}
