@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Amsterdam-four';
    src: url(./fonts/amsterdam-four.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'MontserratAlternates';
    src: url(./fonts/MontserratAlternates-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'MontserratAlternates';
    src: url(./fonts/MontserratAlternates-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'MontserratAlternates';
    src: url(./fonts/MontserratAlternates-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  body {
    @apply min-h-screen overflow-x-hidden font-Montserrat leading-normal text-center bg-primary-color;
  }

  @screen md {
    html {
      scroll-behavior: smooth;
    }
  }

  .h2-title {
    @apply font-Amsterdam-four text-[90px] sm:text-[100px] md:text-[110px] leading-[2.5] text-brand-color;
  }

  .title-small {
    @apply mb-16 md:mb-20 font-Montserrat-Alternates font-bold text-4xl;
  }
}
